<html>
  <body>
    <h1>Lecture {{{LEC_NUM}}} admin</h1>

  <form action="/admin/lec/2" method="post" accept-charset="utf-8">
    <label>Number of questions: <input name="num_qs">2</input>
    </label>

    <input type="submit" value="Submit">
  </form>
  </body>
</html>
